<template name="priceRange">
    <div class="price-range-slider">
        <span class="value-label average-value">
            {{averageStr}}
            <span class="fa fa-caret-down"></span>
        </span>
        <div class="slider" data-min="{{min}}" data-max="{{max}}" data-average="{{average}}"></div>    
        <div class="value-labels">
            <span class="value-label min-value">{{selectedMinStr}}</span>
            <span class="value-label max-value">{{selectedMaxStr}}</span>
        </div>
    </div>
</template>